html, body {
  margin: 0;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  color: #777777;
  background-image: url(assets/images/paper_background.jpg);
  background-size: cover;
  background-color: gray;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  height: 900px;
}

.nav {
  float: left;
  width: 100%;
  background: #ffffff;
  border-bottom: 5%;
  border-bottom: solid;
  border-color: #cccccc;
  margin-top: -9px;
}

.logo {
  position: static;
  float: left;
  background: #4aaaa5;
  text-align: center;
  margin-right: 0;
  margin-left: 163px;
  font-size: 35px;
  color: #ffffff;
  width: 200px;
  padding-top: 30px;
  padding-bottom: 31px;
}

.nav_links {
  float: right;
  background: white;
  font-size: 15px;
  color: #ffffff;
  margin-top: 9px;
  margin-right: 120px;
  padding-top: 38px;
  padding-bottom: 16px;
  padding-right: 60px;
}

.nav_links li {
  float: left;
  margin-left: 20px;
}

a {
  display: block;
}

.nav_links a {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777777;
  text-decoration: none;
}

h2 {
  border-bottom-style: solid;
  border-width: 2px;
  border-bottom-color: #cccccc;
  margin-bottom: 20px;
}

h3 {
  padding-right: 15px;
  padding-bottom: 17px;
  color: #f3f3f3;
}

.left_box {
  float: left;
  width: 650px;
  background: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-color: #cccccc;
  padding: 3% 2% 2% 2%;
  right: 300px;
  margin-left: 20px;
  margin-left: 160px;
  margin-top: 20px;
}

.left_box h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-size: 28px
}

img.resize {
  float: left;
  height: 25%;
  width: 50%;
  padding-right: 2%;
  padding-bottom: 1%;
}

.right_box {
  position: relative;
  float: left;
  width: 270px;
  margin-top: 20px;
  margin-left: 60px;
  background: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-color: #cccccc;
  padding: 3% 2% 2% 2%;
}

.right_box h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 24px;
  color: #4aaaa5;
  text-align: center;
}

.contact_left_box h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 30px;
  color: #4aaaa5;
}

.right_box h3 {
  color: #cccccc;
}

.icons img {
  width: 25%;
  float: left;
  padding: 10px;
}

.contact_left_box {
  float: left;
  width: 688px;
  margin-left: 18px;
  background: #ffffff;
  margin-top: 20px;
  margin-left: 160px;
  padding: 10px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 2px;
  right: 300px;
  top: 40px;
}

.contact_left_box h3 {
  color: #cccccc;
  padding-left: 0px;
}

.contact_left_box input {
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 670px;
  font-size: 18px;
}

.contact_left_box .message {
  font-size: 18px;
  background: #ffffff;
  padding: 0px;
  width: 681px;
  height: 157px;
}

.contact_left_box textarea {
  border-width: thin;
  border-color: #cccccc;
}

.contact_left_box h1 {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 5px;
}

.contact_left_box h2 {
  margin-top: 29px;
}

.submit {
  background-color: #4aaaa5;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 2px;
  color: #ffffff;
  margin-top: 8px;
  margin-bottom: 10px;
}

.box {
  width: 500px;
  margin: 20px;
  float: left;
}

.portfolio_left_box {
  float: left;
  width: 666px;
  background: #ffffff;
  border-style: solid;
  border-color: #cccccc;
  border-width: 2px;
  margin-top: 20px;
  margin-left: 160px;
  padding-left: 35px;
  padding-right: 7px;
  padding-bottom: 88px;
  right: 300px;
  top: 40px;
}

.portfolio_left_box img {
  height: 200px;
  width: 200px;
}

.portfolio_left_box h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-size: 28px;
  padding-top: 42px;
}

.portfolio_left_box h3 {
  color: #cccccc;
}

h4 {
  background: #4aaaa5;
  position: absolute;
  font-family: 'Georgia', Times, Times New Roman, serif;
  top: 150px;
  left: 0px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-left: 0px;
  padding: 6px 27px 6px 27px;
}

.image_banner1 h4 {
  top: 397px;
  left: 277px;
  right: 962px;
}

.image_banner2 h4 {
  right: -100px;
}

.image_banner3 h4 {
  right: -100px;
}

.image_banner4 h4 {
  right: -100px;
}

.image_banner5 h4 {
  right: -100px;
}

.image_banner6 h4 {
  right: -100px;
}

.row1, .row2, .row3 {
  margin-left: 12%;
  margin-right: 35%;
}

.row1 {
  margin-top: 5%;
}

.row2 {
  margin-top: 42%;
}

.row3 {
  margin-top: 79%;
}

.col1 {
  position: relative;
  width: 100px;
}

.col2 {
  position: relative;
  float: right;
  width: 100px;
}

#footer {
  position: fixed;
  height: 40px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  padding: 1rem;
  font-size: 12px;
  text-align: center;
  color: #c0bcb8;
  border-top-style: solid;
  border-width: 10px;
  border-top-color: #4aaaa4;
  background-color: #666666;
}

#footer p {
  margin-top: 8px;
}



/*@media screen and (max-width: 980px) {
  .left_box {width: 25%}
  .right_box {width: 50%}

  body {
    height: 1000px;
  }

  .container {
    margin-left: 0px;
  }

  .nav {
    margin-bottom: 20px;
  }

  .logo {
    margin-left: 100px;
  }

  .nav_links {
    height: 0px;
    padding: 0px;
    margin: 0px;
  }

  .nav_links ul {
    margin-right: 100px;
    margin-top: 51px;
  }

  .container {
    margin-top: 0px;
  }

  .left_box {
    width: 391px;
    margin-left: 100px;
    margin-right: 0px;
    padding-right: 15px;
  }

  .contact_left_box {
    width: 400px;
    margin-left: 100px;
    padding-right: 15px;
  }

  .contact_left_box input {
    width: 390px;
  }

  .contact_left_box .message {
    width: 398px;
  }

  img.resize {
    float: none;
    width: 100%;
    padding-bottom: 20px;
  }

  .right_box {
    height: 150px;
    width: 27%;
    margin-left: 50px;
  }

 .icons img {
    width: 31%;
    float: left;
    padding: 2px;
  }

  .right_box h2 {
    margin-bottom: 10px;
    padding-right: 10px;
  }
}*/

/*@media screen and (max-width: 768px) {
  .left_box {width: 25%}
  .right_box {width: 50%}

  body {
    height: 3300px;
  }

  .container {
    width: 100%;
  }

  .logo {
    margin-left: 20px;
  }

  .nav_links {
    height: 40px;
    padding: 0px;
    margin-top: 48px;
    margin-right: 20px;
  }

  h3 {
    padding: 0px;
  }

  .nav_links ul {
    padding-left: 0px;
  }

  .container {
    margin-left: 0px;
  }

  .left_box {
    width: 697px;
  }

  .contact_left_box {
    width: 710px;
  }

  .contact_left_box .message {
    width: 710px;
  }

  .contact_left_box input {
    width: 698px;
  }

  img.resize {
    float: none;
    width: 100%;
    padding-bottom: 20px;
  }

  .portfolio_left_box {
    float: none;
    background: #ffffff;
    width: 540px;
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
  }

  .portfolio_left_box .row1 .row2 .row3 {
    margin-top: 0px;
  }

  .col1 {
    position: relative;
    width: 100px;
  }

  .col2 {
    position: relative;
    float: right;
    width: 100px;
  }

  h4 {
  background: #4aaaa5;
  position: absolute;
  font-family: 'Georgia', Times, Times New Roman, serif;
  top: 764px;
  left: 0px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-left: 53px;
  padding: 8px 212px 10px 217px;
}

.image_banner1 h4 {
top: 1310px;
left: 0px;
}

.image_banner2 h4 {
top: 1856px;
left: 0px;
}

.image_banner3 h4 {
top: 2403px;
left: 0px;
}

.image_banner4 h4 {
top: 2951px;
left: 0px;
}

.image_banner5 h4 {
top: 3498px;
left: 0px;
}

.container {
  margin: 20px;
  padding: 0px;
  background: #ffffff;
}

.portfolio_left_box img {
  margin: 0px;
  padding: 0px;
  height: 290px;
  width: 290px;
}

.portfolio_left_box h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-size: 28px;
  padding-top: 25px;
}

.right_box {
  height: 170px;
  width: 700px;
  margin: 18px;
}

.icons img {
  width: 17%;
  float: left;
  padding: 2px;
}

.right_box h2 {
  margin-bottom: 10px;
  padding-right: 490px;
}

.footer {
  width: 768px;
}
}*/

@media screen and (max-width: 640px) {

  body {
    height: 1350px;
  }

  .nav {
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: lightgray;
  }

  .logo {
    width: 100%;
    text-align: center;
    margin-top: -11px;
    margin-left: 0;
  }

  .nav_links {
    width: 748px;
    height: 40px;
    margin-top: 0px;
    margin-right: 90px;
  }

  .nav_links ul {
    padding-left: 430px;
  }

  .left_box {
    width: 538px;
    margin: 0px;
    padding-top: 34px;

  }

  .contact_left_box {
    width: 540px;
    margin: 0px;
    padding-top: 0px;
  }

  .contact_left_box .message {
    width: 538px;
  }

  .contact_left_box input {
    width: 528px;
  }

  img.resize {
    width: 100%;
    padding-bottom: 10px;
  }

  .portfolio_left_box {
    width: 550px;
    margin: 0px;
    padding: 5px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
  }

  /*.portfolio_left_box .row1 .row2 .row3 {
    margin-top: 200px;
  }*/

  h4 {
    background: #4aaaa5;
    position: absolute;
    font-family: 'Georgia', Times, Times New Roman, serif;
    top: 764px;
    left: 0px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-left: 53px;
    padding: 8px 212px 10px 217px;
  }

  .image_banner1 h4 {
    top: 1310px;
    left: 0px;
  }

  .image_banner2 h4 {
    top: 1856px;
    left: 0px;
  }

  .image_banner3 h4 {
    top: 2403px;
    left: 0px;
  }

  .image_banner4 h4 {
    top: 2951px;
    left: 0px;
  }

  .image_banner5 h4 {
    top: 3498px;
    left: 0px;
  }

  .container {
    margin: 20px;
    padding: 0px;
  }

  .row1 {
    margin-left: 25px;
  }

  .row2 {
    margin-left: 25px;
  }

  .row3 {
    margin-left: 25px;
  }

  .portfolio_left_box img {
    float: none;
    height: 500px;
    width: 500px;
    margin-left: -230px;
  }

  .portfolio_left_box h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 28px;
    padding-top: 25px;
  }

  .right_box {
    height: 170px;
    width: 539px;
    margin: 0px;
    margin-left: 0px;
    margin-top: 20px;
  }

  .icons img {
    width: 17%;
    float: left;
    padding: 2px;
  }

  .right_box h2 {
    margin-bottom: 10px;
    padding-right: 330px;
  }
}
